/*MAIN ENTRENAMIENTO*/

.entrenamiento{
    background-image: url(../img/titulos-en-general.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:$largo;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
    border-bottom: 1px solid black;
    padding-top: 20px;
    text-align: center;
    color: nth($paleta-colores ,2);
    font-size:nth($font-size, 5);
}


.entrenamiento-engeneral a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: -60px -60px 0px -54px  nth($paleta-colores ,4);
    -webkit-box-shadow: -60px -60px 0px -54px nth($paleta-colores ,4);
    -moz-box-shadow: -60px -60px 0px -54px nth($paleta-colores ,4);
    margin: 20px;
    @include flex (flex ,space-evenly, center);
    flex-wrap: wrap;
}


.entrenamiento-engeneral a:hover{
    background-color:nth($paleta-colores, 3 );
}


.entrenamiento-engeneral a div{
    text-align: center;
    @include flex (flex ,center, center);    
    flex-direction: column;
    width: 50%;
    height: $largo * 3 + 50px;
}

.entrenamiento-engeneral a div h2{
    margin-bottom: 15px;
    font-size:nth($font-size, 4);
}

.entrenamiento-engeneral a div p{
    padding: 0 25px 0 25px;
    font-size: nth($font-size, 2);
}

.entrenamiento-engeneral a img{
    width: 50%;
    height:  $largo * 3 + 50px;
    object-fit: cover;
}


/*MAIN ENTRENAMIENTO AL AIRE LIBRE*/  
/*MAIN-ENTRENAMIENTO-SALA*/

.aire{
    background-image: url(../img/titulos-en-general-3.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100px;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
    border-bottom: 1px solid black;
    padding-top: 20px;
    text-align: center;
    color:nth($paleta-colores, 2 );
    font-size: nth($font-size, 5);
}

.sala{
    background-image: url(../img/titulos-en-general-2.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: $largo;
    text-shadow: 3px 3px 0px rgb(0, 0, 0);
    border-bottom: 1px solid black;
    padding-top: 20px;
    text-align: center;
    color: nth($paleta-colores, 2 );
    font-size:nth($font-size, 5);
}

.entrenamiento-aireysala{
    color: black;
    height: $largo * 4 +40px;
    box-shadow: -60px -60px 0px -54px rgb(0, 0, 0);
    -webkit-box-shadow: -60px -60px 0px -54px rgb(0, 0, 0);
    -moz-box-shadow: -60px -60px 0px -54px rgb(0, 0, 0);
    margin: 20px;
    @include flex (flex ,space-evenly, center);
    flex-wrap: wrap;
}

.entrenamiento-aireysala div{
    width: 50%;
    text-align: center;
    padding: 10px;
    @include flex (flex ,space-evenly, center);
    flex-direction: column;
}

.entrenamiento-aireysala div h2{
    margin-bottom: 15px;
    font-size: nth($font-size, 4);
}

.entrenamiento-aireysala div p{
    width: 80%;
    padding: auto;
    font-size: nth($font-size, 3);
}

.entrenamiento-aireysala img{
    width: 50%;
    height:  $largo * 3 +65px;
    object-fit: cover;
}

