/*MAIN-EUIPAMIENTO*/
/*ECHO CON BOOSTRA*/

.equipamiento{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    margin: 50px 0;

}
.equipamiento-engeneral img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.equipamiento-engeneral div div div{
    color: white;
    background-color: rgba(0, 0, 0, 0.712);
}
.equipamiento-img {
    width: 125px;
    height: 125px;
}
