/* FOOTER */
footer{
    width: 100%;
    height: $largo + 80px;
    background-color:nth($paleta-colores, 1 );
    text-align: center;
    @include flex (flex ,space-evenly, center);
    flex-direction: column;
    flex-wrap: wrap;
}

footer p{
    color:nth($paleta-colores, 2 );
    font-family: 'Black Ops One', cursive;
    font-size: nth($font-size, 1);
}

footer img{
    width: 40px;
    height: 40px;
}

footer div a{ 
    margin: 15px;
}
footer div a img{
    transition: 2s;
}
footer div a img:hover{
    transform: scale(1.3);
}

