/* HEADER */
/*boostra*/
header{
    width: 100%;
}

header a:hover{
background-color: #ffffff0e;
}
header .logoprincioal{
    width: 45px;
    height: 45px;
}
header .zorrofit1{
    font-family: 'Black Ops One', cursive;
}
