/*MAIN-INDEX*/

.hero{
    width:100%;
    height: calc(100vh - 122px);
    background-image: url(/img/index-1.jpg);
    background-position: center;
    background-size: cover ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1{
    text-shadow: 4px 4px 0px rgba(0,0,0,1);
    padding: 5px;
    color: rgb(255, 255, 255);
    font-size: 40px;
}



.hero p{
    color: white;
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    font-size: 15px;
}

.hero-actividades div{
    height: 250px;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    color: white;
    text-align: left;
    width: 100%;
    height: 250px;
    border: 2px solid black;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;
}

.hero-actividades div h2{
    font-size: xx-large;
    text-shadow: 4px 4px 0px rgba(0,0,0,1);
}

.hero-actividades div p{
    font-size: large ;
    text-shadow: 1px 1px 0px rgba(0,0,0,1);
    width: 30%;
}

.hero-actividades .crossfit{
    background-image: url(../img/crossfit.jpg);
}
.hero-actividades .funcional{
    background-image: url(../img/funcional.jpg);
}
.hero-actividades .running{
    background-image: url(../img/running.jpg);
}
.hero-actividades .yoga{
    background-image: url(../img/yoga.jpg);
}
.hero-actividades .bicicleta{
    background-image: url(../img/bicicleta.jpg) ;
}



.hero-carmelo{
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    border: 0.5px solid #000000;
    background-color: rgb(234, 234, 234);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0 ;
    flex-wrap: wrap;
}

.hero-carmelo div{ 
    color: rgb(0, 0, 0);
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.hero-carmelo iframe{
    padding: auto;
}


.hero-equipo{
    text-align: center;
    color: black;
    margin: 40px 0;
}
.hero-equipo h2{
    text-align: center;
    margin: 15px;
}
.hero-equipo p{
    text-align: center;
    width: 50%;
    margin: 15px auto;
}

.hero-equipo div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 10px;
}

.hero-equipo  div div{
    text-align: center;
    display: inline-block;
    width: 210px;
    height: 270px;
    overflow: hidden;
    background-color:rgb(245, 245, 245);
    text-align: center;
    box-shadow: 5px 7px 0px 1px rgba(0, 0, 0,0.80);
    -webkit-box-shadow: 5px 7px 0px 1px rgba(0,0,0,0.80);
    -moz-box-shadow: 5px 7px 0px 1px rgba(0,0,0,0.80);
    border-radius: 34px 34px 34px 34px;
    -webkit-border-radius: 34px 34px 34px 34px;
    -moz-border-radius: 34px 34px 34px 34px;
    border: 3px solid #000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-equipo div div img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 5px;
}

.hero-equipo div div h3{
    font-size: 15px;
    font-weight:900;
}

.hero-equipo div div p{
    font-size: 15px;
}




