/*MAIN-NOSOTROS*/

.nosotros{
    background-image: url(../img/historia-3.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    color: white;
}



.nosotros h1{
    padding: 20px 0;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.nosotros p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 80%;
    padding: 20px 0 20px 0;
    margin: auto;
}

