@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital@1&family=Roboto+Slab:wght@500&family=Ysabeau+SC:wght@500&display=swap');

/* RESET */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*BODY*/
body{
    font-family: 'Roboto Slab', serif;
}

